<div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
            <h1> Detalle de la película </h1>
            <h3 class="centre">{{pelicula.title}}</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <img class="d-block m-auto" alt="{{pelicula.title}}" src="{{pelicula.poster_path | poster}}" />
        </div>
        <div class="col-md-6 mt-3">
            <dl>
                <dt>
                    Sinópsis
                </dt>
                <dd>
                    {{pelicula.overview}} </dd>
                <dt>
                    Fecha de Lanzamiento:
                </dt>
                <dd>
                    {{pelicula.release_date | date: 'dd/MM/yyyy'}} </dd>

                <dt>
                    Duración: </dt>
                <dd>
                    {{pelicula.runtime}} minutos. </dd>
                <dt>
                    Puntuación: </dt>
                <dd>
                    {{pelicula.vote_average | number :'1.0-2' }}/10 <span class="small">({{pelicula.vote_count}}
                        votos)</span>
                </dd>
            </dl>
            <div class="row-cols-2  ">
                <div class="d-flex justify-content-between mb-5">
                    <button type="button" class="btn btn-success" routerLink="/">
                        Volver
                    </button>
                    <button type="button" class="btn btn-warning" (click)="verIMDB()">
                        Ir a IMDB
                    </button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>