<div class="container-fluid mx-auto p-5">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h3 class="text-center">
                Registro
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="../../assets/registro.jpg" class="mx-auto d-block">
        </div>
        <div class="col-md-4 mt-5">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="invalid-feedback">
                        <div *ngIf="email!.hasError('required')">El email es obligatorio.</div>
                        <div *ngIf="email!.hasError('email')">El email debe tener un formato válido.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="clave">Contraseña</label>
                    <input type="password" id="clave" class="form-control" formControlName="clave">
                    <div *ngIf="clave!.invalid && (clave!.dirty || clave!.touched)" class="invalid-feedback">
                        <div *ngIf="clave!.hasError('required')">La contraseña es obligatoria.</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-2"
                    [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>










<div class="container mt-5">

</div>