<header id="topheader">
    <div class="row container" id="cont-header">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top"
                        style="background-color: #5C1114;">
                        <img class="rounded" src="/assets/navbarlogo.png" height="60" alt="MaxFlix" />
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-5 mr-auto" id="barranav">
                                <li class="nav-item">
                                    <a class="nav-link" style="cursor:pointer" [routerLink]="'/home'"
                                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Inicio </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="cursor:pointer" [routerLink]="'/catalogo'"
                                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Catálogo</a>
                                </li>
                                <li *ngIf="!isLogin" class="nav-item">
                                    <a class="nav-link" style="cursor:pointer" [routerLink]="'/login'"
                                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Ingresar</a>
                                </li>
                                <li *ngIf="!isLogin" class="nav-item">
                                    <a class="nav-link" style="cursor:pointer" [routerLink]="'/registro'"
                                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Registrarse</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>